## Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [5]:
# !pip install pandas

import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
a : int = 7
b  : int = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)

9
5
14
3.5

In [8]:
a : int = 11
b : int = 3

print(a % 3) # % returm the remainder after dividing like 11/3 = 2

2

In [10]:
print(2**2)
print(2**3)

4
8

In [12]:
print(12 / 3)

4.0

In [13]:
print(14.8 / 3)

4.933333333333334

In [16]:
# The // operator in Python is the floor division operator.
# it rounds down the result of the division to the nearest integer.

print(14.8 / 3)
print(14.8 // 3) #

4.933333333333334
4.0

In [17]:
# Another example
print( 14 / 3)
print( 14 // 3)

4.666666666666667
4

## Python Assignment Operators

Assignment operators are used to assign values to variables:

In [18]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [19]:
# Mostly used to assign values in logic like :=
# :=

a : int = 7
print(b := 7)

7

In [20]:
# = assign

a : int = 7
b : int = 2

In [30]:
# +=

a : int = 7
print(a)
a = a + 2
print(a)
# whenever we call its continuous adding value 9
b += a  # b = a + 9
print(b) # I call this function many time

7
9
102

In [32]:
# Another example
# +=
x : int = 7
print(x) # print 7

x += 2
print(x) # print 9 after addin to 7 + 2

7
9

Similary `-=`

In [33]:
a : int = 7
print(a) # 

a -= 2
print(a) # 5

7
5

###  Python Comparison Operators

In [34]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [35]:
a : int = 7
b : int = 10
# Compare and check if both are equals
print(a == b) # False

False

In [36]:
a : int = 7
b : int = 7
# Compare and check if both are equals
print(a == b) # True

True

In [37]:
a : int = 7
b : str = '7'
# String is not equal to number so "False"
print(a == b) # ONly true when 7 == 7

False

In [38]:
# !=

a : int = 7
b : int = 7

print( a != b )

False

In [39]:
# !=

a : int = 7
b : int = 8

print( a != b )

True

In [40]:
# >

# case 1

a : int = 5
b : int = 5

print( a > b ) # return False

# case 2
c : int = 6
d : int = 7

print( d > c ) # True

False
True

In [42]:
# >=  Opional check : greater or equal 

# case 1
a : int = 7
b : int = 7
c : int = 8
# case 2
print( a >= b ) # True
print(b >= c) # False

True
False

In [43]:
# <=  Opional check : less or equal 

# case 1
a : int = 7
b : int = 7
c : int = 8
# case 2
print( a <= b ) # True  7 = 7 
print(b <= c) # True   7 < 8

True
True

In [44]:
# <= OPtional Chack 

a : int = 7
b : int = 7
c : int = 8

# case 3 : Error case
# <= : less or equal
print( a =< b ) # Syntax error : True  7 = 7 
print(b =< c) # Syntax Error : True   7 < 8

print("\n---------greater or equal case (>=) --------")

# case 4 : Error case
# >= : greater or equal
print( a => b ) # Syntax error : True  7 = 7 
print(b => c) # Syntax Error : False   7 < 8

SyntaxError: invalid syntax (552197065.py, line 9)

ASCII Code

      A = 65
      B = 66
      C = 90

      a = 97
      b = 98
      c = 122

      0 = 48
      1 = 49
      9 = 57

In [48]:
# Test ASCII CODE
ord("A")

65

In [49]:
# Test ASCII CODE
ord('a')

97

In [55]:
# Test ASCII CODE
ord('0')

48

In [58]:
# Also perform reverse text
# used to check location name of character
print(chr(65)) # A
print(chr(97)) # a
print(chr(48)) # 0

A
a
0

Some magic using `ASCII CODE `and `Comparison operators`

In [59]:
a : str = 'A'
b : str = 'B'

print( b >= a ) # True
# Reason : A = 65 and B = 66
# So : 66 > 65

True

### Python Logical Operators

In [60]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [61]:
# and لازمی
# or = optional

# 1        2       3         4
True and True and True and True

# All are true so true
# Example : like all access all the user to download docs

True

In [62]:
# and لازمی
# or = optional
#1        2        3        4
# Example : like  all the user have access to download docs
print(True and True and True and True  )
# One is false mean all false
# Example : Like need all docs if 1-missing then you should have not permission to enter colege
print(True and True and False and True) # False -> keeping in view all above exp.
print(False and False and False and True) # False ->     =

True
False
False

In [63]:
# and لازمی
# or = optional
#1        2        3        4
# Example : like  all the user have access 
#        if user have any one document
print(True or True or True or True  )  # True
print(True or True or False or True)   # True
print(False or False or False or True) # True
# Example : Not allowed if user  has nothing
print(False or False or False or False)# False

True
True
True
False

In [64]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [66]:
not True # mean false -> opposite from previous

False

In [68]:
not False

True

In [69]:
name : str = "Sir Qasim"
print(name !="Qasim") # True -> both have different values
print(name !="Sir Qasim") # False -> both have same values

True
False

### Python Identity Operators

In [70]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [73]:
# x is x
x = "x"
y = "y"

# case 1
 
# x is y : False
print(id(x))
print(id(y))
print(y is x) # False : 

print("\n---------- Now check similar values ----------")

# case 2
a = "abc"
b = "abc"
print(id(a))
print(id(b))
print(a is b) # True : because values have same allocation in memory

8602528
8295712
False

---------- Now check similar values ----------
8459136
8459136
True

In [74]:
# x is not x
x = "x"
y = "y"

# case 1
 
# x is not y : True
print(id(x))
print(id(y))
print(y is not x) # True : 

print("\n---------- Now check similar values ----------")

# case 2
a = "abc"
b = "abc"
print(id(a))
print(id(b))
print(a is not b) # False : because a has same as b

8602528
8295712
True

---------- Now check similar values ----------
8459136
8459136
False

In [75]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [76]:
names : list[str] = [chr(i) for i in range(65,91) ]

for i in range(len(names)) : 
    print(i,names[i])
    if names[i] == 'D':
        print('True')
        break

0 A
1 B
2 C
3 D
True

In [77]:
names : list[str] = [chr(i) for i in range(65,91) ]

'D' in names

True

In [78]:
names : list[str] = [chr(i) for i in range(65,91) ]

display(names)

'Pakistan' in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [79]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [80]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

True

In [82]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

False

In [83]:

uinput not in names

False

In [84]:
table[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

### PEMDAS

In [85]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

* Parentheses/Brackets
* Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
* MD Multiplication and Division (left-to-right)
* AS Addition and Subtraction (left-to-right)

In [86]:
print((6 + 3) - (6 + 3))

0

In [87]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [88]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [89]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

In [90]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [91]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [92]:
2 * 2
"a" * 3

'aaa'

In [93]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [94]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## **<p align='center'>Try it yourself</p>**


* Save each of the following exercises as a separate file, with a name like name
* _cases.py. If you get stuck, take a break or see the suggestions in Appendix C.
* **All exercise are saved in a separate file**