# loop and input from user
* while
* for
* controls
  * break
  * continue
  * pass
* input with input function
* input from console

# Loop working on iterative data types
* list
* dictionary
* string

In [ ]:
# Why iteration is necessory?

# iteration : picup element 1-by-1
#                 0 1 2 3 4 5
l1 : list[int] = [1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#                 0 1 2 3 4 5
l1 : list[int] = [1,2,3,4,5,6]

for n in l1 :
  print(n)

1
2
3
4
5
6

In [ ]:
#                 0 1 2 3 4 5
l1 : list[int] = [1,2,3,4,5,6]

for n in l1 :
  print(n) # shoft + tab for more detail

1
2
3
4
5
6

In [ ]:
#                 0 1 2 3 4 5
l1 : list[int] = [1,2,3,4,5,6]

for n in l1 :
  print(f"current number : {n}")

current number : 1
current number : 2
current number : 3
current number : 4
current number : 5
current number : 6

In [ ]:
#                 0 1 2 3 4 5
l1 : tuple[int] = (1,2,3,4,5,6) # iteration with tuple data type

for n in l1 :
  print(f"current number : {n}")

current number : 1
current number : 2
current number : 3
current number : 4
current number : 5
current number : 6

In [ ]:
# uteration on string data types

#                  01234567
l1 : tuple[int] = "Pakistan"

for c in l1 :
  print(f"current character : {c}")

current character : P
current character : a
current character : k
current character : i
current character : s
current character : t
current character : a
current character : n

In [ ]:
# iteration on dictionary

#             iteration perform on keys
l1 : dict[str,str] =  {"name" : "Sr. Muhammad Qasim", "fname" : "Muhammad Aslim"}

for k in l1 :
  print(f"dictionary key{k} and value is {l1[k]}")

dictionary keyname and value is Sr. Muhammad Qasim
dictionary keyfname and value is Muhammad Aslim

In [ ]:
# iteration on set data types


#            can also perform iteraion on set data types
# because its always return inique values
l1 : set[int] =  {1,2,3,4,2,4,4,5,6}

for k in l1 :
  print(f"set item is : {k} ")

set item is : 6

In [ ]:
# iteration on set data types


#            cannot perform operation on set data types
# because its always return inique values
#                  we can perform operation by wrapping it in "list()"
l1 : set[int] =  list({1,2,3,4,2,4,4,5,6})

for v in l1 :
  print(f"value from list of set is :\t{v}")

value from list of set is :	1
value from list of set is :	2
value from list of set is :	3
value from list of set is :	4
value from list of set is :	5
value from list of set is :	6

## We can directly perform iteration on set data type

In [1]:
#           iteration perform on keys
l1 : set[int] = {1,2,3,4,1,1,1,1}

for k in l1:
    print(f"set item is  {k} ")

set item is  1
set item is  2
set item is  3
set item is  4

## Also apply iteration on set with type casting in list

In [2]:
#
l1 : list[set[int]] = list({1,2,3,4,1,1,1,1})

for k in l1:
    print(f"value from list of set : {k} ")

value from list of set : 1
value from list of set : 2
value from list of set : 3
value from list of set : 4

In [7]:
#  OR
l1 : list[set[int]] = {1,2,3,4,1,1,1,1}

for k in l1:
    print(f"value from list of set : {k} ")

value from list of set : 1
value from list of set : 2
value from list of set : 3
value from list of set : 4

In [8]:
# we can find all existence methods using its type name like "list , tuple , set ,str, dict."
# iter does not exit on ( int )
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# input from user
* input function
  * defailt type = string
* sys.argv (for console input in abc.py file)
  * default type = object

In [ ]:
name : str = input("What is your name:\t")

print(type(name))
print(f"Welcome dear User Mr\Miss {name}!")

What is your name:	Aqeel Shazad
<class 'str'>
Welcome dear User Mr\Miss Aqeel Shazad!

In [4]:
names : list[str] = ['a','b','c']
fname : list[str] = ['x','y','z']
age : list[int] = [1,2,3]

zip(names,fname,age)

In [6]:
names : list[str] = ['a','b','c']
fname : list[str] = ['x','y','z']
age : list[int] = [1,2,3]

list(zip(names,fname,age))

for name,fn, ag in zip(names,fname,age):
    print(f"Welcome dear {name} has age :{ag}, s/o {fn}!")

Welcome dear a has age :1, s/o x!
Welcome dear b has age :2, s/o y!
Welcome dear c has age :3, s/o z!

In [9]:
import sys
print("line1")
print("line2")

# used for input
# we can create libraries using this features
print(type(sys.argv))
print(sys.argv) # interactve data type list[str] 0=filename **value user define

line1
line2
<class 'list'>
['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-365826be-c9bf-452e-b7cf-fff6d7192e36.json']

# While loop
```
while logic # True/False
  loop_body
```

In [10]:
flag : bool = True # flag

current_number : int = 0

while flag:
  print(f"current number is : {current_number}")
  current_number +=1

  if current_number == 10: # flag false at some point
    break

current number is : 0
current number is : 1
current number is : 2
current number is : 3
current number is : 4
current number is : 5
current number is : 6
current number is : 7
current number is : 8
current number is : 9

In [13]:
l1 : list[int] = [100,200,300]

index : int = 0

while index < len(l1):
  print(f"current index is : {index} and list value is:\t{l1[index]}")
  index +=1

current index is : 0 and list value is:	100
current index is : 1 and list value is:	200
current index is : 2 and list value is:	300

In [15]:
data : list[dict[str,str]] = [] # we can create system

flag : bool = True

while flag:
  print("write quite of exit to stop this program")
  name : str = input("Your goof name is ? \t:")
  education : str = input("Your last education? :\t")

  if name in ['exit','quite','close','stop'] or education in ['exit','quite','close','stop'] :
    flag=False
    break

  data.append({
      "name" : name,
      "education" : education
  })

display(data)

write quite of exit to stop this program
Your goof name is ? 	:adsf
Your last education? :
write quite of exit to stop this program
Your goof name is ? 	:asdf
Your last education? :	dasdf
write quite of exit to stop this program
Your goof name is ? 	:sadf
Your last education? :	exit

[{'name': 'adsf', 'education': ''}, {'name': 'asdf', 'education': 'dasdf'}]

# controls
* break
* continus
  * skip
* pass

In [1]:
for i in range(1,11):
  print(i)

  if i == 5:
    break

1
2
3
4
5

In [2]:
for i in range(1,11):
  print(f"2 X {i} = {i*2}")
  break

2 X 1 = 2

In [3]:
for i in range(1,11):
  print(f"2 X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [4]:
for i in range(1,11): # Creating a range from 1 to 11
  if i == 5:
    continue # Skippong the iteration when i is 5
  print(i)

1
2
3
4
6
7
8
9
10

* pass

In [5]:
for i in range(1,100)

SyntaxError: ignored

In [6]:
for i in range(1,100):
  pass

In [8]:
while True:
    pass

In [9]:
def abc(a :int , b:int ) -> int :
    pass

In [10]:
if True:
    pass

print("pakistan")
print("Second")

pakistan
Second

In [12]:
if True:
    name : str = input("Your name?")
    print(name)

Your name?Aqeel
Aqeel

In [13]:
if False:
    name : str = input("Your name?")
    print(name)

In [14]:
print(1 + 7 + 3 + 4)

15

In [15]:
print(1 + 7 \
      + 3\
         + 4)

15

In [16]:
prompt = """If you share your name, we can personalize the messages you see.\
What is your first name? """


name = input(prompt)
print(f"\nHello, {name}!")

If you share your name, we can personalize the messages you see.What is your first name? asdfasdf

Hello, asdfasdf!

In [17]:
age:str = input("How old are you? ")
age >= 18

How old are you? 56

TypeError: ignored

In [18]:
age:int = int(input("How old are you? "))
age >= 18

How old are you? 12

False

In [21]:
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 != 0:
        continue
    print(current_number)

2
4
6
8
10

In [19]:
data : list[int] = [1,3,5,6,3,15,18]

# extract even numbers from this list

[i  for i in data if i%2==0]

[6, 18]

In [20]:
data : list[int] = [1,3,5,6,3,15,18]

# extract even numbers from this list

[i  for i in data if i%2!=0]

[1, 3, 5, 3, 15]

In [22]:
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 == 0:
        continue
    print(current_number)

1
3
5
7
9

In [23]:
prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the progasdfram. "
message = ""
while message != 'quit':
    message = input(prompt)
    print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. asdf
asdf

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. asdf
asdf

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. asdf
asdf

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quit
quit

In [24]:
prompt:str = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "


active = True

while active:
    message = input(prompt)
    if message == 'quit':
        active = False
    else:
        print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. 34
34

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. asdf
asdf

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. asd
asd

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quit

In [25]:
# Start with users that need to be verified,
# and an empty list to hold confirmed users.
unconfirmed_users : list[str] = ['alice', 'brian', 'candace']
confirmed_users : list[str] = []
  # Verify each user until there are no more unconfirmed users.
# Move each verified user into the list of confirmed users. 2
while unconfirmed_users:
    current_user = unconfirmed_users.pop()
    print(f"Verifying user: {current_user.title()}")
    confirmed_users.append(current_user)
# Display all confirmed users.
print("\nThe following users have been confirmed:")
for confirmed_user in confirmed_users:
    print(confirmed_user.title())

Verifying user: Candace
Verifying user: Brian
Verifying user: Alice

The following users have been confirmed:
Candace
Brian
Alice

In [26]:
a = 10

while a:
    print("abc")
    break

abc

In [28]:

data : list[int] = [1,2,3]

while data:
    n : int = data.pop()
    print(n)

3
2
1

In [29]:
pets = ['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
print(pets)

while 'cat' in pets:
    pets.remove('cat')
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']