In [ ]:
# create individual variales
name1 : str = "Qasim"
name2 : str = "Sir Zia"
name3 : str = "Sir Inam"

In [ ]:
# names of list should be plural
names = ["Qasim","Sir Zia","Sir Inam"]

# List
 * dynamic
 * hetrogenous data types (Multipe types)
 * index
   * positive 0 to n-1
   * negative -1 to length
 * Slicing
     * variable `names[start:end:step]`
     * start : int = include
     * end : int = n - 1
     * step sequence

* **Youtube** chapter 03 Class-04 :  https://www.youtube.com/watch?v=NzFLZkVtwMw
* **Book** : https://drive.google.com/file/d/1VK4PWzCusHeS57m1JI3BRnb1QzLfYftf/view?usp=sharing

In [ ]:
from typing import Any

In [ ]:
# Qoma separed values
# Elements can be of any data types
# Always start from left to right
# l-to-r ->  0           1        2
names = ["Sir Qasim","Sir Zia","Sir Inam"] # to find last index -> last_index = length-1
# r-to-l <- -3       -2         -1
print(names[0]) # Sir Qasim
print(names[-3]) # Sir Qasim

print(names[-2]) # Sir Zia

Sir Qasim
Sir Qasim
Sir Zia

In [ ]:
from typing import Any
# ->                      0          1         2
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam"]
# <-                     -3          -2       -1
print(names[-2])

Sir Zia

In [ ]:
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam", 20 , True]
# <-                     -3          -2       -1
print(type(names))
print(type(names[-2]))

print(f"Founder of PIAIC '{names[-2]}'")

<class 'list'>
<class 'int'>
Founder of PIAIC '20'

In [ ]:
"abce"

'abce'

In [ ]:
list("abce")

['a', 'b', 'c', 'e']

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUBVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'B', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
#                           0     1    2   3    .    .    .                                                                .    .                        25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U' , 'V', 'W', 'X', 'Y', 'Z']
#                         -26  -25   -24                                                                                                                   -1

# default slicing go from left to right
print(characters[0:2]) # 0 = include : index 2 - 1 = 1
print(characters[:2]) # not pass any number = all
print(characters[-26:-24]) # 0 - include : index -24-1 = -25

print(characters[0:2:1]) # 0 = include : step 1
print(characters[0:2:]) # 0 = include : no step but include ':' default take 1

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U' , 'V', 'W', 'X', 'Y', 'Z']

print(characters[::]) # Print all
print(characters[::2]) # 2 step A , C

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U' , 'V', 'W', 'X', 'Y', 'Z']


print(characters[::-1]) # <- start left

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
#                          0     1    2    3     4   5  6     7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                          -8    -7   -6  -5   -4   -3   -2    -1

print(characters[1:-3]) # 'B', 'C', 'D', 'E'

['B', 'C', 'D', 'E']

In [ ]:
#                          0     1    2    3     4   5  6     7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                          -8    -7   -6  -5   -4   -3   -2    -1
# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5]) # <-

[]

In [ ]:
#                          0     1    2    3     4   5  6     7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                          -8    -7   -6  -5   -4   -3   -2    -1
# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:-1]) # <-

# slicing is a power feature of numpy and python

['G', 'F', 'E']

### slicing is a power feature of numpy and python

# List methods

In [ ]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a : list[str] = [1,2,3]

del a # remove object from memory

print(a)

NameError: ignored

In [ ]:
a : list[str] = [1,2,3]

a.clear() # remove all elements but object is remain

print(a)

[]

# Help
* help (object)
* object?
* object??
* ?object
* ??object

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
?print # 01
??print # 02 ...

In [ ]:
# List methods
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam",20,True]


print(names)

names[0] = "Sir Muhammad Qasim" # Python is mutable -> editable
print(names)

['Sir Qasim', 'Sir Zia', 'Sir Inam', 20, True]
['Sir Muhammad Qasim', 'Sir Zia', 'Sir Inam', 20, True]

In [ ]:
# List methods           0            1        2
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam",20,True]
#                       -3           -2        -1

print(names)

del names[3]  # delete 3 index element

print(names)

['Sir Qasim', 'Sir Zia', 'Sir Inam', 20, True]
['Sir Qasim', 'Sir Zia', 'Sir Inam', True]

In [ ]:
a : str = print("Pakistan") # non return function
display(a)

Pakistan

None

In [ ]:
a : str = id(names) # return function
display(a)

133858035903680

In [ ]:
# List methods           0            1        2
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam",20,True]
#                       -3           -2        -1

del names[3]
names

['Sir Qasim', 'Sir Zia', 'Sir Inam', True]

### Pop

In [ ]:
# List methods           0            1        2
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam",20,True]
#                       -3           -2        -1

# pop return method exp. TODO LIST
a : str = names.pop() # delete last value

print(a)

True

### Append method add element at last

In [ ]:
names : list[str] = []
names.append("Sir Zia")    # add element in last
names.append("Sir Inam")# add element in last
names.append("Sir Qasim")# add element in last

print(names)

['Sir Zia', 'Sir Inam', 'Sir Qasim']

In [ ]:
names : list[str] = ["a","b","c"]

print(names)
names.insert(1,"Sir Qasim") # insert at particular position

print(names)

['a', 'b', 'c']
['a', 'Sir Qasim', 'b', 'c']

In [ ]:
print(print("Pakistan Zinada Abad"))

Pakistan Zinada Abad
None

In [ ]:
# List methods           0            1        2
names : list[Any] = ["Sir Qasim","Sir Zia","Sir Inam",20,True]
#                       -3           -2        -1

# pop return method exp. TODO LIST
a : str = names.pop(0) # delete at particular index

print(a)
print(names)

Sir Qasim
['Sir Zia', 'Sir Inam', 20, True]

In [ ]:
a : list[str] = ["a","b","c"]

b = a

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
a : list[str] = ["a","b","c"]

b = a # shallow copy

print(a)
print(b)

b[0] = 'Pakistan' # changes only b variable but both variable updated

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['Pakistan', 'b', 'c']
['Pakistan', 'b', 'c']

In [ ]:
a : list[str] = ["a","b","c"]

b = a.copy() # deep copy



print("a : ",a)
print("b : ",b)

b[0] = 'Pakistan' # changes only b variable but both variable updated

print(a)
print(b)

a :  ['a', 'b', 'c']
b :  ['a', 'b', 'c']
['a', 'b', 'c']
['Pakistan', 'b', 'c']

In [ ]:
# count
names : list[str] = ['a','a','a','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [ ]:
# count
names : list[str] = ['Sir Zia','Sir Muhammad Qasim'] # etAI founder members

new_faculty_mambers : list[str] = ['Sir Zia','Dir Noman']

# names.append(new_faculty_mambers) # add in last index as it is

names.extend(new_faculty_mambers) # destrucure all values

names

['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']

names.remove("Sir Muhammad Qasim") # remove with text valie

names

['Sir Zia', 'Sir Zia', 'Dir Noman']

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']

names.index("Sir Muhammad Qasim") # remove with text valie

# names

1

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']

names.index("Sir Zia") # find occurence from start

0

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']

names.index("Sir Zia",2) # find occurence from after 2 index

2

In [ ]:

#                         0             1                2             3
names : list[str] = ['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']
#                        -4              -3              -2         -1

names.index("Sir Zia",-3) # find occurence from after 2 index

2

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']

print(names)
names.reverse() # in-memory = change real data
print(names)

['Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia', 'Dir Noman']
['Dir Noman', 'Sir Zia', 'Sir Muhammad Qasim', 'Sir Zia']

In [ ]:
names : list[str] = list("ABCDEF")
print(names)
names.reverse() # in-memory = change real data
print(names)

['A', 'B', 'C', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
names : list[str] = list("ACBDEF")
print(names)
names.sort() # in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
names : list[str] = list("ACBDEF")
print(names)
names.sort(reverse=True) # in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
names : list[str] = list("ACBDEF")
print(names)
names.sort(reverse=True) # in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [1]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## **<p align='center'>Try it yourself</p>**

* All the solved exercise chapter wise are in separate files

Try these short programs to get some firsthand experience with `Python’s lists`.

You might want to create a new folder for each `chapter’s exercises`, to keep

them organized.