# Chapter #04: **WORKING WITH LISTS**

# List(list,tuple, for loop)
* Iteration operations with loop
* apply any operation on element

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

print(names)

['Sir Zia', 'Sir Qasim', 'Dr Noman']

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for name in names :
  print(name)

# Sir zia
# Sir Qasim
# Sir Noman

Sir Zia
Sir Qasim
Dr Noman

```
# Old methods
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for ( i = 0 ;  i < names.length ; i++ ) {
  names[i]
}

```

In [ ]:
# Old methods
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

i : int = 0 # counter = 0

while i < len(names): # names length = 3
  print(names[i])
  i += 1

Sir Zia
Sir Qasim
Dr Noman

In [ ]:

names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']

for name in names :
  print(name)

Sir Zia
Sir Qasim
Dr Noman

In [ ]:
for name in names :
  print(f"Welcome Dear Teacher {name.title()}")

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Sir Qasim
Welcome Dear Teacher Dr Noman

```
 for `name` in `names` `:` #  

```

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
  print(f"Welcome Dear Teacher {name.title()}")

  print("PIAIC Gen AI Team\n")

Welcome Dear Teacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Teacher Sir Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Dr Noman
PIAIC Gen AI Team

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
  print(f"Welcome Dear Teacher {name.title()}")
  print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Teacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Teacher Sir Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names[-2:] :
  print(f"Welcome Dear Teacher {name.title()}")
  print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Teacher Sir Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names[::-1] :
  print(f"Welcome Dear Teacher {name.title()}")
  print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad")

Welcome Dear Teacher Dr Noman
PIAIC Gen AI Team

Welcome Dear Teacher Sir Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Sir Zia
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:

data_base : list[tuple[str,str]] = [
                                    ("Sir Qasim","123"),
                                    ("Sir Zia",'344'),
                                    ('ilyyas','789')
                                    ]

for row in data_base:
  print(row)

('Sir Qasim', '123')
('Sir Zia', '344')
('ilyyas', '789')

In [ ]:

data_base : list[tuple[str,str]] = [
                                    ("Sir Qasim","123"),
                                    ("Sir Zia",'344'),
                                    ('ilyyas','789')
                                    ]

for row in data_base:
  user , password = row
  print(user, password)

Sir Qasim 123
Sir Zia 344
ilyyas 789

In [ ]:
data_base : list[tuple[str,str]] = [
                                    ("Sir Qasim","123"),
                                    ("Sir Zia",'344'),
                                    ('ilyyas','789')
                                    ]

for row in data_base:
  user , password = row
  print(f"Username : {user} , && Password : {password}")

Username : Sir Qasim , && Password : 123
Username : Sir Zia , && Password : 344
Username : ilyyas , && Password : 789

In [ ]:
input_user : str = input("ENter user name : ")
print(input_user)

ENter user name : asdfas
asdfas

In [ ]:

data_base : list[tuple[str,str]] = [
                                    ("sirqasim","123"),
                                    ("sirzia",'344'),
                                    ('ilyyas','789')
                                    ]
input_user : str = input("Enter user name : ")
input_password : str = input("Enter user password : ")

for row in data_base:
  user , password = row

  if input_user == user and input_password == password:
    print("valid user")
    break

else:
  print("Not found or Invalid name")

Enter user name : afasdf
Enter user password : asdfasd
Not found or Invalid name

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
  print(name)
else :
  print("Hello world")

Sir Zia
Sir Qasim
Dr Noman
Hello world

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
  print(name)
  break
else :
  print("Hello world")

Sir Zia

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
  print(name)

print("Hello world")

Sir Zia
Sir Qasim
Dr Noman
Hello world

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
  print(name)
  break

print("Hello world")

Sir Zia
Hello world

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names :
print(name)

IndentationError: ignored

In [ ]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman']


for name in names
  print(name)

SyntaxError: ignored

In [ ]:
magicians = ['alice','david','carolina']

for magician : str in magicians :
  print(f"{magician.title()}, that was a great trick! ")

print(f"\nI cannot see your next trick, {magician.title()}.\n")

SyntaxError: ignored

In [ ]:
magicians = ['alice','david','carolina']

for magician  in magicians :
  print(f"{magician.title()}, that was a great trick! ")

# last variable also accessible from outside of the loop
print(f"\nI cannot see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

I cannot see your next trick, Carolina.

In [ ]:
message = "Hello Python world!"
   print(message)

IndentationError: ignored

In [ ]:
message = "Hello Python world!"
  print(message)

IndentationError: ignored

In [ ]:
magicians : list[str,str] = ['alice','david','carolina']

for magician  in magicians :
  print(f"{magician.title()}, that was a great trick! ")
  print(f"I cannot see your next trick, {magician.title()}.\n")


print(f"Thank you for everyone , that was a great trik")

Alice, that was a great trick!
I cannot see your next trick, Alice.

David, that was a great trick!
I cannot see your next trick, David.

Carolina, that was a great trick!
I cannot see your next trick, Carolina.

Thank you for everyone , that was a great trik

In [ ]:
#                 0      1         2

magicians = ['alice','david','carolina']

list(enumerate(magicians)) # return also

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [ ]:
#                 0      1         2

magicians = ['alice','david','carolina']

for index, name in enumerate(magicians):  # enumerate
  print(index,name)

0 alice
1 david
2 carolina

# Numbers with loop
* range(start,end,step)

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10)) # starting=0 , ending =  n - 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10)) # starting=2 , ending =  n - 1

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,21,2)) # starting=2 , ending =  n - 1, step=2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
for n in range(2,21,2):
  print(n)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for n in range(1,11):
  print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
squares : list[str] = []

for value in range(1,11):
  square = value ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares : list[str] = []

for value in range(1,11):
  square = value ** 2
  squares.append(square)

print(squares)
# use this technique make a table
for index, sq in enumerate(squares) :
  print(f"\n{index+1}^2 = {sq}")

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1^2 = 1

2^2 = 4

3^2 = 9

4^2 = 16

5^2 = 25

6^2 = 36

7^2 = 49

8^2 = 64

9^2 = 81

10^2 = 100

# List comprehensive (short)

```
for item in item_list:
   loop_body
```

### Comprehensive Style

```
loop_body for item in item_list
```

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,11):
  print(i ** 2)

1
4
9
16
25
36
49
64
81
100

### The Syntax
```code
newlist = [expression for item in iterable if condition == True]
```


```
* With list comprehension you can do all that with only one line of code:
```

In [ ]:
[i**2 for i in range(1,11)] # comprehensive list mean one liner code

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [ ]:
print([i**2 for i in range(1,11)]) # But it has limit like warning

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]

print(digits)

print(max(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9

In [ ]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]

print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
45

In [ ]:
my_foods = ['pizza','falafel','cake']
friend_food = my_foods[:] # deep copy

print(my_foods)
print(friend_food)

print("\n")
print("Change in my_foods\n")
my_foods[0] = "Tika"



print(my_foods)
print(friend_food)

['pizza', 'falafel', 'cake']
['pizza', 'falafel', 'cake']


Change in my_foods

['Tika', 'falafel', 'cake']
['pizza', 'falafel', 'cake']

# Tuples

* Cannot update
* Immutable

In [ ]:
names : tuple[str] = ('A','B','C')

print(names[0])
print(names[0:2]) # n - 1   3 = 3 - 1

A
('A', 'B')

In [ ]:
names : tuple[str] = ('A','B','C')

name[0] = "Pakistan"

TypeError: ignored

In [ ]:
names : tuple[str] = ('A','B','C')

# Tuple can reassigned
names : tuple[str] = ('Pakistan','B','C')

print(names)

('Pakistan', 'B', 'C')

In [ ]:
from typing import Any

data : tuple[Any] = ("A",[1,2,3],True)

print(data)

('A', [1, 2, 3], True)

In [ ]:

data : tuple[Any] = ("A",[1,2,3],True)

data[1] = "B"

print(data)

TypeError: ignored

In [ ]:

data : tuple[Any] = ("A",[1,2,3],True)


print(data[1])

[1, 2, 3]

In [ ]:

data : tuple[Any] = ("A",[1,2,3],True)


print(data[1])

data[1].append(20)

print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [ ]:
a = input("Enter your test number : ") # return string type

print(type(a))
print(a)

Enter your test number : 123
<class 'str'>
123

In [ ]:
sorted([7,8,1,3])

[1, 3, 7, 8]

# <p slign="center">**TRY IT YOURSELF**</p>

## Exercie 01

**4-1. Pizzas**

Think of at least three kinds of your favorite pizza. Store these

pizza names in a list, and then use a for loop to print the name of each pizza.

* Modify your for loop to print a sentence using the name of the pizza,
instead of printing just the name of the pizza. For each pizza, you should
have one line of output containing a simple statement like I like pep-
peroni pizza.
* Add a line at the end of your program, outside the for loop, that states
how much you like pizza. The output should consist of three or more lines
about the kinds of pizza you like and then an additional sentence, such as
I really love pizza!

**4-2. Animals**

Think of at least three different animals that have a common characteristic. 

Store the names of these animals in a list, and then use a for loop to

print out the name of each animal.

* Modify your program to print a statement about each animal, such as A
dog would make a great pet.
* Add a line at the end of your program, stating what these animals have in
common. You could print a sentence, such as Any of these animals would
make a great pet!

## Exercise 02

### **4-3. Counting to Twenty**

Use a for loop to print the numbers from 1 to 20, inclusive.

### **4-4. One Million**

Make a list of the numbers from one to one million, and then 

use a for loop to print the numbers. (If the output is taking too long, stop it by

pressing CTRL-C or by closing the output window.)

### **4-5. Summing a Million**

Make a list of the numbers from one to one million, and

then use min() and max() to make sure your list actually starts at one and ends

at one million. Also, use the sum() function to see how quickly Python can add

a million numbers.

## **4-6. Odd Numbers**

Use the third argument of the range() function to make a list

of the odd numbers from 1 to 20. Use a for loop to print each number.

## **4-7. Threes**

Make a list of the multiples of 3, from 3 to 30. Use a for loop to

print the numbers in your list.

## **4-8. Cubes**

A number raised to the third power is called a cube. For example,

the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that

is, the cube of each integer from 1 through 10), and use a for loop to print out

the value of each cube.

## **4-9. Cube Comprehension**

Use a list comprehension to generate a list of the first 10 cubes.

## Exercise 03

### **4-10. Slices**

Using one of the programs you wrote in this chapter, add several

lines to the end of the program that do the following:
* Print the message The first three items in the list are:. Then use a slice to
print the first three items from that program’s list.
* Print the message Three items from the middle of the list are:. Then use a
slice to print three items from the middle of the list.
* Print the message The last three items in the list are:. Then use a slice to
print the last three items in the list.

## **4-11. My Pizzas, Your Pizzas**

Start with your program from Exercise 4-1 (page 56).

Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the
following:
* Add a new pizza to the original list.
* Add a different pizza to the list friend_pizzas.
* Prove that you have two separate lists. Print the message My favorite piz-
zas are:, and then use a for loop to print the first list. Print the message My
friend’s favorite pizzas are:, and then use a for loop to print the

## **4-12. More Loops**

All versions of foods.py in this section have avoided using

for loops when printing, to save space. Choose a version of foods.py, and

write two for loops to print each list of foods.

## **4-13. Buffet**

A buffet-style restaurant offers only five basic foods. Think of five

simple foods, and store them in a tuple.
* Use a for loop to print each food the restaurant offers.
* Try to modify one of the items, and make sure that Python rejects the
change.
* The restaurant changes its menu, replacing two of the items with different
foods. Add a line that rewrites the tuple, and then use a for loop to print
each of the items on the revised menu.

## **4-14. PEP 8** 

Look through the original PEP 8 style guide at https://python.org/

dev/peps/pep-0008. You won’t use much of it now, but it might be interesting

to skim through it.

## **4-15. Code Review**: 

Choose three of the programs you’ve written in this chapter

and modify each one to comply with PEP 8.
* Use four spaces for each indentation level. Set your text editor to insert four
spaces every time you press the TAB key, if you haven’t already done so
(see Appendix B for instructions on how to do this).
* Use less than 80 characters on each line, and set your editor to show a
vertical guideline at the 80th character position.
* Don’t use blank lines excessively in your program files.